.your_gold_stars, .your_points {
  text-align: center;
  outline: 1px solid #5b917a;
  padding: 10px;
  min-height: 200px;

  h1 {
    font-size: 100px;
    line-height: 100px;
  }
}

.your_activities_list {
  text-align: center;
  outline: 1px solid #5b917a;
  padding: 10px;

  .btn {
    margin-bottom: 5px;
  }
}
