@color: #5b917a;

a {
  color: @color;
}

.activity_list {
  text-align: left;

  .activity_list_row {
    .name {
      margin-left: 10px;
    }

    .did_activity {
      margin-left: -8px;
    }
  }

  .last_event {
    color: #bbb;
  }

  .event_count {
    color: #999;
  }

  .edit_activity {
    //TODO: hidden until this is a thing.
    display: none;
  }

  .remove_activity, .edit_activity {
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
    color: #bbb;
  }

  h2 {
    text-align: center;
  }

  tr {
    transition: opacity 1s;

    &:hover {
      opacity: 1;

      & .remove_activity, .edit_activity {
        opacity: 1;
        transform: scale(1.1);
      }
    }

    &.completed_today {
      opacity: 0.3;
    }
  }
}

.navbar {
  margin-top: 10px;
  min-height: 50px;

  .brand {
    padding-top: 5px;
  }
}

.navbar-fixed-bottom {
  border-top: 1px solid #eee;
  padding-top: 10px;
  background-color: #fff;
}

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #ddd;
  padding-top: 30px;
}

#login-buttons .login-button {
  background-image: none;
  background-color: #000;
}


#you_got_a_gold_star_modal, #you_spent_a_gold_star_modal, #you_earned_some_points_modal {
  text-align: center;

  .gold_star, .check, .point {
    font-size: 150px;
    line-height: 150px;
    text-shadow: 0px 5px 5px #ddd;
  }
  .gold_star {
    color: yellow;
  }
  .point {
    color: #555;
  }
  .check {
    color: #5bb75b;
  }
}

.table {
  tbody {
    tr {
      td {
        border-top: 0;
      }
    }
  }
}
